body{
    background-color:aquamarine;
}
.titulo{
    text-align: center;
}
.box{
    width: 200px;
    height: 200px;
}
#box1{
    background-color: #FF0000;

}
#box2{
    background-color: #FF0033;

}
#box3{
    background-color: #FF0066;

}
#box4{
    background-color: #FF0099;

}
#box5{
    background-color: #FF00CC;

}
#box6{
    background-color: #FF00FF;
}
footer{
    text-align: center;
    background-color: cadetblue ;
}